* {
  box-sizing: border-box;
}

$bg: #15202b;
$details: #8899a6;
$emphasis: #1b95e0;

@keyframes descent-into-hell {
  to {
    background: rgb(112, 19, 2);
  }
}

body {
  &.begun {
    animation: descent-into-hell (1.5s * 100) linear both;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  min-height: 100vh;
  margin: 0;
  background: $bg;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

#dialog {
  display: flex;
  flex-direction: column;
  background: lighten($bg, 10%);
  padding: 1em;

  #begin {
    margin-top: 1em;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

article {
  animation: show-up 1s;
  transition: transform 1s;

  display: flex;
  flex-direction: column;
  padding: 1em 0.1em;
  border-bottom: 1px solid mix($details, transparent, 10%);

  header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .icon {
      border-radius: 50%;
      height: 3em;
    }

    aside {
      display: flex;
      flex-direction: column;

      margin-left: 1ch;

      .title {
        display: flex;
        align-items: center;
        font-weight: bold;

        img {
          height: 1em;
          margin-left: 0.25ch;
        }
      }

      .tag {
        color: $details;
      }
    }
  }

  .text {
    font-size: 1.5em;
  }

  .holder {
    padding: 0.5em;
    flex-shrink: 1;
    min-height: 0;
  }

  footer {
    color: $details;
    font-size: 0.9em;

    .time,
    .date {
      &::after {
        content: " · ";
      }
    }

    .platform {
      color: $emphasis;
    }
  }
}
